@define-color theme_fg_color #ffffff;
@define-color theme_bg_color #000000;
@define-color border_color #ffc87f;

window#osd {
    border-radius: 20px;
    border: 3px solid @border_color;
    background: alpha(@theme_bg_color, 0.8);
}

window#osd #container {
    margin: 6px;
}

window#osd image,
window#osd label {
    color: @theme_fg_color;
}

window#osd progressbar:disabled,
window#osd image:disabled {
    opacity: 0.5;
}

window#osd progressbar {
    min-height: 6px;
    border-radius: 999px;
    background: transparent;
    border: none;
}

window#osd trough {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: alpha(@theme_fg_color, 0.5);
}

window#osd progress {
    min-height: inherit;
    border-radius: inherit;
    border: none;
    background: @theme_fg_color;
}
