/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@import "macchiato.css";

/* -----------------------------------------------------------------------------
   * Base styles
   * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
    color: #ffffff;
    background-color: black;
    font-family:
        JetBrainsMono NFP,
        Regular;
    font-size: 12px;
    font-weight: bold;
    transition: all 0.5s ease;
}

#waybar {
    background-color: transparent;
}

#waybar > box {
    /* background-color: rgba(18, 21, 29, 0.98);*/
    background-color: black;
    margin: 0px 0px 0px 3px;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);*/
    box-shadow: 0 0 3 0px #151515;
    transition-property: background-color;
    transition-duration: 0.5s;
}
#workspaces button {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 10px 12px;
    margin: 0px;
}

#workspaces button.active label {
    color: #ffc87f;
    font-weight: bolder;
}

#battery.discharging.warning {
    color: #ffc87f;
}

#battery.discharging.critical {
    color: @red;
}

#battery,
#box,
#custom-power,
#network,
#wireplumber,
#tray {
    padding: 10px 5px;
    margin: 0px;
}

#custom-power {
    color: @red;
}
