/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@import "macchiato.css";

/* -----------------------------------------------------------------------------
   * Base styles
   * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
    color: #ffffff;
    background-color: black;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family:
        JetBrainsMono NFP,
        Regular;
    font-size: 12px;
    font-weight: bold;
}

#waybar {
    background-color: transparent;
}

#waybar > box {
    /* background-color: rgba(18, 21, 29, 0.98);*/
    background-color: black;
    margin: 0px 0px 0px 3px;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);*/
    box-shadow: 0 0 3 0px #151515;
    transition-property: background-color;
    transition-duration: 0.5s;
}

#workspaces button.active label {
    color: #ffc87f;
}

.modules-left {
    margin-top: 5px;
}

.modules-right {
    margin-bottom: 5px;
}

#workspaces button {
    all: initial;
    padding: 5px;
    min-width: 9px;
}

#battery.discharging.warning {
    color: #ffc87f;
}

#battery.discharging.critical {
    color: @red;
}

#battery,
#box,
#bluetooth,
#custom-power,
#network,
#wireplumber,
#mpris,
#tray {
    min-width: 12px;
    margin: 10px 15px 10px 15px;
}

#custom-power {
    color: #dc8a78;
}
