/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@import "macchiato.css";

/* -----------------------------------------------------------------------------
   * Base styles
   * -------------------------------------------------------------------------- */

/* Reset all styles */

* {
    color: #ffffff;
    background-color: black;
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family:
        JetBrainsMono NFP,
        Regular;
    font-size: 12px;
    font-weight: bold;
}

#workspaces button.active label {
    color: #dc8a78;
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

#workspaces {
    margin-left: 0;
}
#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#battery.discharging.warning {
    color: #ffc87f;
}

#battery.discharging.critical {
    color: @red;
}

#battery,
#box,
#bluetooth,
#custom-power,
#network,
#wireplumber,
#mpris,
#tray {
    min-width: 12px;
    margin: 0 10px;
}

#custom-power {
    color: #dc8a78;
    margin-right: 5;
}
